@import "classes";

// constants
@grayLight: rgb(241, 241, 241);
@grayDark: rgb(204, 204, 204);
@black: rgb(45, 45, 45);
@white: rgb(255, 255, 255);

body, html { height: 100%; }
body {
  background-color: @grayLight;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
}

#description {
  color: red;
  background-color: green;
}

/*
@media all and (max-width: 640px) { 
  // remove center margin
  header nav {
    margin-left: 0;
  }  
  section {
    width: 100%;
  }
}
*/



