<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="circle.css" />
    <title>CSS3 Drawing Samples</title>
</head>
<body>
<article id="circles">
    <h1>Circles</h1>
    <section id="circle">
        <h2>Simple circle</h2>
        <div class="full-circle"></div>
    </section>
    <section id="circle-stroke">
        <h2>Circle with a stroke</h2>
        <div class="full-circle"></div>
    </section>
    <section id="circle-transparent">
        <h2>Circle with transparency</h2>
        <div class="full-circle"></div>
    </section>

    <section id="circle-transition">
        <h2>Circle with transitions</h2>
        <div class="full-circle"></div>
    </section>
</article>
</body>
</html>