<!DOCTYPE html>
<html>
<head>
    <title>Chrome Tabs</title>
    <link rel="stylesheet" href="tabs-layout.css"/>
    <link rel="stylesheet" href="tabs-style.css"/>
</head>
<body>
<div class="wrap">
    <ul class="tab-list">
        <li class="current">
            <a href="#page-1">Page 1</a>

            <div class="left-mask">
                <span></span>
            </div>
            <div class="right-mask">
                <span></span>
            </div>
        </li>
    </ul>
</div>
</body>
</html>