/* Tab Structure */
.tab-list{
    list-style-type: none;
    overflow: hidden;
    height: 35px;
    margin: 0;
    padding: 0;
}

.tab-list li{
    margin-top: 10px;
    height: 60px;
    width: 225px;
    position: relative;
    float:left;
    border-top-right-radius: 20px 60px;
    border-top-left-radius: 20px 60px;
    border: 1px solid transparent;
    margin-left: -25px;
    z-index: 1;
}

.tab-list li:first-child{
    margin-left: 0;
}

.tab-list .current{
    z-index: 2;
}

.left-mask, .right-mask{
    width: 10px;
    height: 3px;
    overflow: hidden;
    position: absolute;
    top: 20px;
}

.current .left-mask, .current .right-mask{
    height: 4px;
}

.left-mask {
    left: -1px;
}

.right-mask{
    right: -1px;
}

.left-mask span, .right-mask span{
    display: block;
    width: 9px;
    height: 9px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;

}

.left-mask span{
    margin: -10px -9px;
}

.right-mask span{
    margin: -10px 0px;
}

.tab-list li a{
    display: block;
    float: left;
    line-height: 25px;
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 13px;
    /* background-image: url(default.png); */
    background-repeat: no-repeat;
    background-position: 18px center;
    color: #444;
    text-decoration: none;
}

/* Wrap Centered*/

.wrap{
     padding: 0;
     margin: 0 auto;
     width: 960px;
     overflow: hidden;
}
