<!DOCTYPE html>
<html>
  <head>
    <link rel="components" href="page.html">
  </head>
  <body>
    <element name="x-about-page" constructor="AboutPage" extends="div">
      <template>
        <x-page page-title="About: Lars Tackmann">
          <section>
            <hgroup>
              <h1>Lars Tackmann</h1>
              <h2>Software Craftsman, Mathematician and Entrepreneur</h2> 
            </hgroup>
          </section>
        </x-page>
      </template>
    </element>
  </body>
</html>
